.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

input{
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    font-size: 12px;
    font-weight: bold;
    color:gray;
}

span{
    font-size: 12px;
    padding: 3px;
    color: #ff6f47;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid #ff6f47;
}
/*show error on focus*/
input:invalid[focused="true"] ~ span{
    display: block;
}